<div class="container mt-4 mb-2 p-0">
  <img class="d-block mx-auto quiz-logo" src="assets/15.png" alt="" />

  <div class="row" *ngIf="mode == 'quiz' && quiz">
    <div class="col-8 custom-question-box">
      <h4 class="text-center text-dark mb-5">{{ quiz.name }}</h4>
      <div *ngFor="let question of filteredQuestions">
        <h5 class="font-weight-bold pb-4">
          {{ pager.index + 1 }}.
          <span [innerHTML]="question.name"></span>
        </h5>

        <div class="fs-5" *ngFor="let option of question.options">
          <label class="py-2 radio" [attr.for]="option.id">
            <input
              id="{{ option.id }}"
              type="checkbox"
              [(ngModel)]="option.selected"
              (change)="onSelect(question, option)"
            />
            {{ option.name }}
          </label>
        </div>
      </div>

      <div class="pt-5 d-flex justify-content-start">
    <button
          id="custom-button"
          class="btn btn-light btn-default mr-5"
          *ngIf="config.allowBack"
          (click)="goTo(pager.index - 1)"
        >
          Prev
        </button> 

       

        <button
          id="custom-button"
          class="btn btn-primary btn-default mr-2"
          (click)="goTo(pager.index + 1)"
        >
          Next
        </button>
      </div>
    </div>

    <div class="col-3">
      <div class="mx-auto custom-time-bar d-flex justify-content-between">
        <span class="my-auto">Time: </span>
        <span *ngIf="config.duration" class="font-weight-bold fs-5"
          >{{ ellapsedTime }} / {{ duration }}</span
        >
      </div>
      <div class="custom-select-bar mx-auto d-flex justify-content-between">
        <select
          id="custom-select"
          class="form-select"
          [(ngModel)]="quizName"
          (change)="loadQuiz(quizName)"
        >
          <option *ngFor="let quiz of quizes" [value]="quiz.id">
            {{ quiz.name }}
          </option>
        </select>
      </div>

      <div class="custom-review-box">
        <div class="row text-center">
          <span>Review Questions</span>
          <div
            class="col-auto cursor-pointer p-3"
            *ngFor="let question of quiz.questions; let index = index"
          >
            <div
              (click)="goTo(index)"
              class="custom-index font-weight-bold {{
                isAnswered(question) == 'Answered'
                  ? 'bg-success text-light'
                  : 'bg-light'
              }}"
            >
              {{ index + 1 }}
            </div>
          </div>
          <div class="mt-3 text-center">
            <button
              id="custom-button-submit"
              class="btn btn-success"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mode -->
  <div class="my-4 result" *ngIf="mode == 'result'">
    <h3 class="mb-5 text-center font-weight-bold">Quiz Result</h3>

    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5>{{ index + 1 }}. {{ question.name }}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options">
            <input
              id="{{ Option.id }}"
              type="checkbox"
              disabled="disabled"
              [(ngModel)]="Option.selected"
            />
            {{ Option.name }}
          </div>
        </div>
        <p
          class="p-1 my-3   w-25 alert {{
            isCorrect(question) == 'correct' ? 'alert-success' : 'alert-danger'
          }}"
        >
          Your answer is {{ isCorrect(question) }}.
        </p>
      </div>
    </div>
    <!-- <h4 class="alert alert-info text-center">You may close this window now.</h4> -->
  </div>
</div>
